<header>
	<img
		class="logo"
		src="/images/logo.png"
		alt="Piper storage logo"
		onClick="window.location.href = '/'"
	/>
	<% if (currentUser) {%>
		
		<img class="userIcon" src="/icons/user.svg" alt="user icon">
		<p class="username"><%= currentUser.username %></p>
		<a class="headerAnchor" href="/home">Home</a>
		<a class="headerAnchor" href="/logout">Log out</a>
	<%}%>
	
</header>
