<% folders.forEach(folder => {%>
	<% if (folder.sharedFolders.length > 0) {%>
		<div class="folderRow">
			<a href="/share/<%= folder.sharedFolders[0].id %>"><%= folder.name %></a>
			<p><%= folder.createdAt %></p>
		</div>	
	<%}%>
<%}) %>