<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
	<title>Home</title>
</head>

<body>
	<%- include('partials/header') %>
	<main class="home">
		<%- include('openFolder', {folderData: folderData}) %>
	</main>
	<%- include('partials/footer') %>
</body>
<script src="/scripts/userNavigation.js" type="module" defer></script>
<script src="/scripts/modifyDisplayValues.js" defer></script>

</html>