<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
	<title>Log In</title>
</head>

<body>
	<%- include('partials/header') %>
	<canvas></canvas>
	<main>
		<h1>Log In</h1>
		<form action="/login" method="post" class="logInForm">
			<label for="username">Username</label>
			<input type="text" name="username" required />

			<label for="password">Password</label>
			<input type="password" name="password" />

			<% if (loginError) {%>
			<p class="error"><%= loginError %></p>

			<%}%>
			<button type="submit" class="loginBtn submitBtn">Log in</button>
		</form>
		<a href="/signup" class="formAnchor">Sign up</a>
	</main>
		
	<%- include('partials/footer') %>
</body>
<script src="/scripts/wipeLocalStorage.js" defer></script>
<script src="/scripts/animatedBg.js" defer></script>

</html>