<script>
	async function appendToClipboard(text) {
		const type = "text/plain";
		const clipboardItemData = {
			[type]: text,
		};
		const clipboardItem = new ClipboardItem(clipboardItemData);
		await navigator.clipboard.write([clipboardItem]);
	}
</script>

<p class="shareLink"><%= shareLink %></p>
<button
	data-link="<%= shareLink %>"
	onclick="appendToClipboard(this.dataset.link)"
>
	Copy
</button>
